<table class="table ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">email</th>
      <th scope="col">picture</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let user of users'>
      <td scope="row">{{user.id}}</td>
      <td ><a [href]="user.id">{{user.first_name}} {{user.last_name}}</a></td>
      <td>{{user.email}}</td>
      <td><img class="card-img-top fuid circle mx-auto"  [src]="user.avatar" /></td>
    </tr>

    <tr *ngFor='let user of users2'>
      <td scope="row">{{user.id}}</td>
      <td ><a [href]="user.id">{{user.first_name}} {{user.last_name}}</a></td>
      <td>{{user.email}}</td>
      <td alt="10px"><img class="card-img-top fuid circle mx-auto"  [src]="user.avatar" /></td>
    </tr>
  </tbody>

</table>

